.swiper-slide {
    transition: all 1s ease-in-out;
    top: 2rem;
    border-radius: 0.75rem;
    overflow: hidden;
}
.swiper-slide:not(.swiper-slide-active) {
    transform: scale(.9);
    opacity: .9;
    filter: grayscale(1);
    cursor: pointer;
}
.swiper-slide-active {
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}